html, body, h1, h2, h3, h4, ul, ol, li, p, a {
        padding: 0;
        border: 0;
        margin: 0;
        font-size: 100%;
        font: inherit;
      }
      /*body {
        padding: 0 0 0 0;
        background-color: #5f5f5f;
        background-image: url(images/gobbler.png);
        background-position: top left;
        background-repeat: repeat;
      }*/
       /* or do it this way
       order: color , image , position , repeat
       */
        
      body {
          background: #5f5f5f url(images/gobbler.png) top left repeat;
          font-family: Helvetica, Arial, sans-serif;
        }
        label, input {
            display: block;
        }
        label {
            margin-bottom: 10px;
        }
        input {
            width: 500px;
            margin-bottom: 25px;
        }
        input[type=submit] {
            width: 120px;
            font-size: 30px;
        }
        input[type=text] {
           border: 2px solid #7facaa; 
           font-size: 24px;
           padding: 7px;
        }
        input[type=checkbox], label[for=newsletter]{
            display: inline;
        }
        textarea {
            width: 500px;
            height: 400px;
            padding: 7px;
            border: 2px solid #7facaa;
            margin-bottom: 25px;
            font-size: 24px;
        }
        .header {
            padding: 10px 10px 10px 10px;
        }
        .header a {
            color: #ffffff;
        }
        .header img {
            display: block;
            margin: 0 auto 0 auto;
        }
        .main-content {
            width: 500px;
            padding: 20px;
            border: 1px solid #dddddd;
            margin: 30px auto 0 auto;
            background: #ffffff url(images/crossword.png) top left repeat;
        }
        .content-section {
            padding: 15px;
            width: 450px;
            margin: 0 auto;
        }
        .content-section h2 {
            text-align: center;
        }
        .bands-list {
            list-style-type: none;
            padding-left: 0;
        }
        .bands-list a {
            text-decoration: none;
            color: #ff2244;
        }
        .bands-list li {
            border: 1px solid #555555;
        }
        .featured-image {
            width: 630px;
            height: 246px;
            background: #ffffff url(images/featured-cake.png) top left no-repeat;
        }
      
      h1 {
        color: #ffffff;
        margin: 0 0 15px 0; 
        text-align: center;
      }
      h2 {
        color: #000000;
        padding: 6px 3px 0 0;
        border-top: 6px solid black;
        border-right: 3px dotted orange;
        border-bottom: 0;
        border-left: 0;
        margin: 15px 0 0 0; 
        text-align: center; 
        font-size: 26px; 
        font-weight: bold;
        font-style: italic;
        text-transform: uppercase;
      }
      h3 {
        margin: 15px 0 1px 0;
        border-bottom: 1px solid #cccccc;
        padding-bottom: 3px;    
      }
        .recipes h3 {
            border-bottom: 0;
        }
        .bands-list h3 {
            border-bottom: 0;
            margin: 0;
        }
        .featured-image h3 {
            margin: 0;
            background-color: #333333;
            color: #ffffff;
            padding: 5px 0 5px 15px;
            text-transform: uppercase;
        }
      h4 {
        color: #666666;
         margin: 10px 0 10px 0;
       }
        .album {
            border: 2px dashed;
            padding: 10px 5px 10px 5px;
            margin: 5px;
      }  
      ul {
        padding-left: 30px;
      }
        .nav {
            padding-left: 0;
            text-align: center;
        }
        .recipes {
            list-style-type: none; 
            padding: 0; 
        } 
        .photos {
            list-style-type: none;
            padding: 0 ;
        }
        .photos li {
            display: inline;
            padding-left: 11px;
        }
      ol {
        padding: 0 0 0 50px;
        }
      li {
        margin-bottom: 5px; 
      }  
         .nav li {
            display: inline;
            padding-right: 20px;
        }
        .nav li:last-child {
            padding-right: 0;
        }
         .recipes li {
            border: 1px solid #b56663;
            padding-left: 15px;
            background: #ffffff url(images/li-bg.png) top left repeat;
        }
        .recipes img {
            float: left;
            padding-right: 10px;
        }
      p {
        color: #444444;
        margin: 0 0 10px 0;
      }
        .day-time {
            color: #444444;
            text-decoration: underline;
        }
        .concert-location {
            color: #888888;
            text-decoration: underline;
        }
        .main-content p {
            line-height: 16px;
        }
      a {
        color: red;
      }
        .nav a {
            color: #0000af;
            text-decoration: none;
        }
        .recipes a {
            color: #7facaa;
            text-decoration: none;
        }